*.pyc
__pycache__/
*.egg-info/
dist/
build/
.eggs/
.pytest_cache/
.coverage
htmlcov/
.venv/
venv/
env/
.env
.DS_Store
*.log
*.swp
*.swo
*~
.idea/
.vscode/
*.code-workspace
node_modules/
.git/
elasticsearch_data/
*.ipynb_checkpoints/
.ipynb_checkpoints/
